In [2]:
import pandas as pd

# Create a sample DataFrame (df) with duplicates
df = pd.read_csv("businesses.csv")

# Create a master DataFrame (master_df) without duplicates
master_df = pd.read_csv("retail_and_shopping_wallignton.csv")

In [3]:
df

,name,address,website,b_type,phone
0,Korykos Turkish Restaurant & Meze Bar,"29 Manor Rd, Wallington, SM6 0BW, United Kingdom",http://www.korykosrestaurant.com/,Turkish restaurant,+44 20 8773 1128
1,Bento Restaurant,"85 Manor Rd, Wallington, SM6 0DE, United Kingdom",https://bentoasia.co.uk/,Asian restaurant,+44 20 8647 0800
2,Thai Bonanza,"14 Ross Parade, Wallington, SM6 8QG, United Ki...",https://thai-bonanza.co.uk/,Thai restaurant,+44 20 8773 9275
3,Wallington Pizzeria,"40-42 Stafford Rd, Wallington, SM6 9AA, United...",https://www.wallingtonpizzeria.co.uk/,Pizza restaurant,+44 20 8669 9995
4,The Grange Restaurant,"Beddington Park, London Rd, Wallington SM6 7BT...",https://grangerestaurant.co.uk/,Fusion restaurant,+44 20 8773 8195
...,...,...,...,...,...
950,Premier,"62 Stafford Rd, Wallington, SM6 9AY, United Ki...",https://www.premier-stores.co.uk/,Convenience store,+44 20 8669 9705
951,Nuts About Balloons / Nuts About Events,"Surrey, Connaught Business Centre, B2, 49 Impe...",undefined,Event planner,+44 20 3700 7227
952,"Jancett Childcare, Park Lane, Carshalton","47 Park Ln, Carshalton, SM5 3EE, United Kingdom",http://www.jancett.co.uk/,Nursery school,+44 20 8647 4988
953,Specsavers Opticians and Audiologists - Wallin...,"76 Woodcote Rd, Wallington, SM6 0LY, United Ki...",https://www.specsavers.co.uk/stores/wallington,Optician,+44 20 8835 3680
954,Bright Horizons Carshalton Day Nursery and Pre...,"231 Carshalton Rd, Carshalton, SM5 3PZ, United...",https://www.brighthorizons.co.uk/our-nurseries...,Day care center,+44 20 3319 3635

In [4]:
master_df

,name,address,website,b_type,phone
0,Sainsbury's,"2 Stafford Rd, Wallington, SM6 9AA, United Kin...",https://stores.sainsburys.co.uk/2006/wallington,Supermarket,+44 20 8773 2379
1,Best Asia Wallington,"34-41 Stafford Rd, Wallington, SM6 9AP, United...",undefined,Indian grocery store,+44 20 8773 3631
2,Iceland Supermarket Wallington,"84 Woodcote Rd, Wallington, SM6 0LY, United Ki...",https://www.iceland.co.uk/store-finder/store,Supermarket,+44 20 8773 4063
3,Tesco Express,"72-82 Woodcote Rd, Wallington, SM6 0LY, United...",https://www.tesco.com/store-locator/wallington...,Supermarket,+44 345 675 7042
4,Asda Wallington Superstore,"Marlowe Wy, Croydon, CR0 4XS, United Kingdom",http://storelocator.asda.com/store/wallington,Supermarket,+44 20 8683 4655
...,...,...,...,...,...
221,Premier,"62 Stafford Rd, Wallington, SM6 9AY, United Ki...",https://www.premier-stores.co.uk/,Convenience store,+44 20 8669 9705
222,Nuts About Balloons / Nuts About Events,"Surrey, Connaught Business Centre, B2, 49 Impe...",undefined,Event planner,+44 20 3700 7227
223,"Jancett Childcare, Park Lane, Carshalton","47 Park Ln, Carshalton, SM5 3EE, United Kingdom",http://www.jancett.co.uk/,Nursery school,+44 20 8647 4988
224,Specsavers Opticians and Audiologists - Wallin...,"76 Woodcote Rd, Wallington, SM6 0LY, United Ki...",https://www.specsavers.co.uk/stores/wallington,Optician,+44 20 8835 3680
225,Bright Horizons Carshalton Day Nursery and Pre...,"231 Carshalton Rd, Carshalton, SM5 3PZ, United...",https://www.brighthorizons.co.uk/our-nurseries...,Day care center,+44 20 3319 3635

In [5]:

# Merge the two DataFrames and get an indicator column
merged = df.merge(master_df, on=["name","address","website","phone","b_type"], how='left', indicator=True)
merged

,name,address,website,b_type,phone,_merge
0,Korykos Turkish Restaurant & Meze Bar,"29 Manor Rd, Wallington, SM6 0BW, United Kingdom",http://www.korykosrestaurant.com/,Turkish restaurant,+44 20 8773 1128,left_only
1,Bento Restaurant,"85 Manor Rd, Wallington, SM6 0DE, United Kingdom",https://bentoasia.co.uk/,Asian restaurant,+44 20 8647 0800,left_only
2,Thai Bonanza,"14 Ross Parade, Wallington, SM6 8QG, United Ki...",https://thai-bonanza.co.uk/,Thai restaurant,+44 20 8773 9275,left_only
3,Wallington Pizzeria,"40-42 Stafford Rd, Wallington, SM6 9AA, United...",https://www.wallingtonpizzeria.co.uk/,Pizza restaurant,+44 20 8669 9995,left_only
4,The Grange Restaurant,"Beddington Park, London Rd, Wallington SM6 7BT...",https://grangerestaurant.co.uk/,Fusion restaurant,+44 20 8773 8195,left_only
...,...,...,...,...,...,...
950,Premier,"62 Stafford Rd, Wallington, SM6 9AY, United Ki...",https://www.premier-stores.co.uk/,Convenience store,+44 20 8669 9705,both
951,Nuts About Balloons / Nuts About Events,"Surrey, Connaught Business Centre, B2, 49 Impe...",undefined,Event planner,+44 20 3700 7227,both
952,"Jancett Childcare, Park Lane, Carshalton","47 Park Ln, Carshalton, SM5 3EE, United Kingdom",http://www.jancett.co.uk/,Nursery school,+44 20 8647 4988,both
953,Specsavers Opticians and Audiologists - Wallin...,"76 Woodcote Rd, Wallington, SM6 0LY, United Ki...",https://www.specsavers.co.uk/stores/wallington,Optician,+44 20 8835 3680,both
954,Bright Horizons Carshalton Day Nursery and Pre...,"231 Carshalton Rd, Carshalton, SM5 3PZ, United...",https://www.brighthorizons.co.uk/our-nurseries...,Day care center,+44 20 3319 3635,both

In [6]:
# Filter out the non-duplicate entries
non_duplicates = merged[merged['_merge'] == 'left_only']

non_duplicates = non_duplicates.drop(columns=['_merge'])
non_duplicates

,name,address,website,b_type,phone
0,Korykos Turkish Restaurant & Meze Bar,"29 Manor Rd, Wallington, SM6 0BW, United Kingdom",http://www.korykosrestaurant.com/,Turkish restaurant,+44 20 8773 1128
1,Bento Restaurant,"85 Manor Rd, Wallington, SM6 0DE, United Kingdom",https://bentoasia.co.uk/,Asian restaurant,+44 20 8647 0800
2,Thai Bonanza,"14 Ross Parade, Wallington, SM6 8QG, United Ki...",https://thai-bonanza.co.uk/,Thai restaurant,+44 20 8773 9275
3,Wallington Pizzeria,"40-42 Stafford Rd, Wallington, SM6 9AA, United...",https://www.wallingtonpizzeria.co.uk/,Pizza restaurant,+44 20 8669 9995
4,The Grange Restaurant,"Beddington Park, London Rd, Wallington SM6 7BT...",https://grangerestaurant.co.uk/,Fusion restaurant,+44 20 8773 8195
...,...,...,...,...,...
912,Specsavers Opticians and Audiologists - Wallin...,"76 Woodcote Rd, Wallington, SM6 0LY, United Ki...",https://www.specsavers.co.uk/stores/wallington,Optometrist,+44 20 8835 3680
913,Wallington Opticians,"116 Woodcote Rd, Wallington, SM6 0LY, United K...",https://www.surreyopticians.co.uk/,Optician,+44 20 8647 3644
914,ASDA Opticians,"Marlowe Wy, Croydon, CR0 4XS, United Kingdom",https://storelocator.asda.com/london/croydon/m...,Optician,+44 20 8683 7614
915,Surreyopticians,"Wallington, SM6 7NY, United Kingdom",https://www.surreyopticians.co.uk/,Optician,+44 20 8647 8992
916,Barlindene Opticians,"381 Croydon Rd, Wallington, SM6 7NY, United Ki...",http://www.surreyopticians.com/,Optician,+44 20 8647 8992

In [9]:
search = {
    "retail_and_shopping":["fashion stores","clothings shops","Jewellery shops","baby care shops","grocery shops","toy shops","arts & craft","home need shops","book stores",
                           "car dealerships","motorbike dealerships","music instruments shops","game shops","sports shops","camping equipment shops",
                           "electronic shops","pet supplies store","gift shops","charity","trade shops"],
    "Beauty_and_spas":["salons","barber shops","cosmetic shops","tattoo & piercing parlors","nail studios","spas"],
    "Food_and_drink":["cafes & coffee","takeaways","resturants","pubs","bars","clubs","catering","grills","breweries & distileries"],
    "Home_improvement":["lawn & garden services","home improvement stores","interior designers","tradespeople"],
    "health_and_fitness":["medical centres","fitness centres","gyms","dental care centres","sport centre",'vision care centres'],
    "travel_and_tourism":["hotels","holiday homes","travel agents","holiday resorts"],
    "auto_and_transport":["vehicle repair centres","parking","vehicle service centres"],
    "personal_services":["photography services","laudary & dry cleaning","printing services","estate agents","pet care"]
}

df = pd.Series(search)
df.to_csv("123.csv")

In [9]:
import pandas as pd
df_rd = pd.read_csv("travel_and_tourism_wallignton.csv")

ParserError: Error tokenizing data. C error: Expected 5 fields in line 38, saw 6

In [ ]:
def remove_duplicates_df(self):
    """Removing duplicates from the category file just to be safe."""
    input_file_path = r"business collector\{}_{}.csv".format(self.catergory, self.town_center)
    output_file_path = r"business collector\{}_{}_cleaned.csv".format(self.catergory, self.town_center)

    df_rd = pd.read_csv(input_file_path)
    df_rd.set_index("name", inplace=True)
    df_rd = df_rd.drop_duplicates()

    df_rd.to_csv(output_file_path, mode="w", header=True)
    print("Removing duplicates from CSV. Cleaned data saved to:", output_file_path)

In [17]:
import os

In [20]:
import os
path = os.path.join(os.getcwd(),"wallignton")

if not os.path.exists(path):
    try:
        os.makedirs(path)
    except OSError as e:
        print(f"Error creating directory {path}: {e}")
else:
    print("does exsist")

In [26]:
import pandas as pd

path = os.path.join(os.getcwd(),"wallignton")
catergories= ["retail_and_shopping",  
"Beauty_and_spas",
"Food_and_drink",
"Home_improvement",
"health_and_fitness",
"travel_and_tourism",
"auto_and_transport",
"personal_services",
"business_services",
"things_to_do"
]


if len(os.listdir(path))==0:
    try:
        for catergory in catergories:
            cat_path=os.path.join(path,f"{catergory}.csv")
            data = ("name",
                "address",
                "website",
                "b_type",
                "phone")
            f_handle = open(cat_path,"a")
            f_handle.write(data)
    except:
        print("ascsa")

In [2]:
import csv
path = "credits_used.csv"
with open(path,'a', newline='') as csv_file:
                csv_writer = csv.writer(csv_file)
                csv_writer.writerow((5,"shops in wallignton"))

In [1]:
import pandas as pd
df = pd.read_csv("credits_used.csv")
df

                             credits_used keyword_used
5      photography services in carshalton   2023-11-13
5      photography services in carshalton   2023-11-13
5      photography services in carshalton   2023-11-13
5      photography services in carshalton   2023-11-13
25     photography services in carshalton   2023-11-13
5      photography services in carshalton   2023-11-13
5      photography services in wallignton   2023-11-13
15   vehicle repair centres in carshalton   2023-11-13
15                  parking in carshalton   2023-11-13
15  vehicle service centres in carshalton   2023-11-13
15   lawn & garden services in carshalton   2023-11-13
15  home improvement stores in carshalton   2023-11-13
15       interior designers in carshalton   2023-11-13
15             tradespeople in carshalton   2023-11-13
5                      spas in carshalton   2023-11-13

In [3]:
df = pd.read_csv("results.csv")
df

,Town center,catergory,keyword,No of businesses collected,No of Non-duplicate entries,No of duplicate entries,date
0,carshalton,beauty_and_spas,spas in carshalton,17,9,8,2023-11-13
1,carshalton,beauty_and_spas,salons in carshalton,76,47,29,2023-11-13